<div id='header'>Clean AIR</div>
<div id='text'>
    Smog is a serious problem in many cities and continues to harm human health. Ground-level ozone,
     sulphur dioxide, nitrogen dioxide and carbon monoxide are especially harmful for senior citizens,
      children, and people with heart and lung conditions such as emphysema, bronchitis, and asthma.
       <b>It can inflame breathing passages, decrease the lungs' working capacity, cause shortness of breath, pain when inhaling deeply, 
       wheezing, and coughing.</b></div>